<% if user_signed_in? %>
  <div> 
  <div class="whole_form">

    <h6> Have you been here? What did you think? <br> </h6>
    <%= form_for [ @destination, @comment ] do |f| %>
        <p>
        <b> <%= current_user.email %> </b>
        </p>
        <p>
        <%= f.label :body %><br/>
        <%= f.text_area :body %>
        </p>
        <p>
        <%= f.submit 'Submit' %>
        </p>
    <% end %>
  </div>

<%else %>

    <div class="alert alert-primary" role="alert">
    Please <a href="/users/sign_up" class="alert-link">SIGN-UP</a> or <a href="/users/sign_in" class="alert-link">SIGN-IN</a> to post comments 
    </div>

<% end %>