<html>
<body>

<img src= https://photos-5.dropbox.com/t/2/AAA64zlzIwCiQYBgmf0Wz9tIpLXGiRZAWdMqlkM6S2WgdQ/12/683766028/jpeg/32x32/1/_/1/2/BANNER.JPG/EN_f6M0FGMMJIAcoBw/vopqCbq3o7ZijyzrLRAtd0FHRqG28G9iJUwBjrXLvWw?size=1280x960&size_mode=3 width="100%" height="auto">
<br>
<br>
<br>
<h3 align="center"> Features - Some of our favourites </h3>
<br>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src= <%= "#{@featured_destinations[0].image}" %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{@featured_destinations[0].name}, #{@countries[@featured_destinations[0].id-1].name}", "/destinations/#{@featured_destinations[0].id}" %></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src= <%= "#{@featured_destinations[1].image}" %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <%= link_to "#{@featured_destinations[1].name}, #{@countries[@featured_destinations[1].id-1].name}", "/destinations/#{@featured_destinations[1].id}" %> </h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src= <%= "#{@featured_destinations[2].image}" %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{@featured_destinations[2].name}, #{@countries[@featured_destinations[2].id-1].name}", "/destinations/#{@featured_destinations[2].id}" %></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="card bg-dark text-white">
  <img class="card-img" src= <%= "#{@featured_destinations[3].panorama}" %> alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to "#{@featured_destinations[3].name}, #{@countries[@featured_destinations[3].id-1].name}", "/destinations/#{@featured_destinations[3].id}" %></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"></p>
  </div>
</div>

<br>
<br>
<br>

</body>
</html>
