<img src= @country.panorama width="100%" height="auto">

<h2 align="center"> <%= @country.name.upcase %> </h2>
<br>

<div align="center">
    <b> Continent: </b> <%= "#{@country.continent}" %>
    <br>
    <br>
    <b> Price rating: </b> <%= "#{@country.costs}" %>
    <br>
    <br>
    <b> Tips: </b> <%= "#{@country.tips}" %>
    <br>
    <br>
</div>

<h3> <%= "Must visit destinations in #{@country.name}" %> </h3>
<br>
<% @destinations.each do |destination| %>
    <%= link_to(destination.name, "/destinations/#{destination.id}") %>
    <br>
<% end %>

<img src= @country.image width="100%" height="auto">

<br>
<br>
<br>