<img src= <%= @country.panorama %> width="100%" height="auto">

<h2 align="center"> <%= @country.name.upcase %> </h2>
<br>

<div align="center">
    <b> Continent: </b> <%= "#{@country.continent}" %>
    <br>
    <br>
    <b> Price rating: </b> <%= "#{@country.costs}" %>
    <br>
    <br>
    <b> Tips: </b> <%= "#{@country.tips}" %>
    <br>
    <br>
</div>
    <div class="countryshow">
    <h5> <%= "Must visit destinations in #{@country.name}" %> </h5>
    <br>
    <% @destinations.each do |destination| %>
        <li> <%= link_to(destination.name, "/destinations/#{destination.id}") %> </li>
        <br>
    <% end %>
    <br>
    <br>
    <img src= <%= @country.image %> width="30%" height="auto">
</div>
<br>
<br>
<br>