<img src=https://photos-2.dropbox.com/t/2/AAB-klQvrxCw0ftYmUZT-PJlbYSMUu1kEsfjMNp76dlvcw/12/683766028/jpeg/32x32/1/_/1/2/IMG_1445%20(2).JPG/EN_f6M0FGMMJIAcoBw/O5CFKPmw91Uim-GDhuai3J9KgEZ4D3I2lx4SLBddJVA?size=1280x960&size_mode=3 width="100%" height="auto">

<h2 align="center"> <%= @country.name.upcase %> </h2>
<br>

<div align="center">
    <b> Continent: </b> <%= "#{@country.continent}" %>
    <br>
    <br>
    <b> Price rating: </b> <%= "#{@country.costs}" %>
    <br>
    <br>
    <b> Tips: </b> <%= "#{@country.tips}" %>
    <br>
    <br>
</div>

<h3> <%= "Must visit destinations in #{@country.name}" %> </h3>
<br>
<% @destinations.each do |destination| %>
    <%= link_to(destination.name, "/destinations/#{destination.id}") %>
    <br>
<% end %>

<br>
<br>
<br>