<img src= <%= @destination.panorama %> width="100%" height="auto">

<h2 align="center"> <%= @destination.name.upcase %> </h2>
<br>
<h4 align="center"> <%= @destination.country.name.upcase %> </h4>
<br>
<div class="destinationshow">
    <b> <%= "What to do when you're in #{@destination.name}: " %> </b> <%= "#{@destination.what_to_do}" %>
    <br>
    <br>
    <br>
    <img src= <%= @destination.image %> width="30%" height="auto" padding-left="30px">
    <br>
    <br>
</div>
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <button type="button" class="btn btn-primary btn-md">Submit</button>
</div>