<img src= <%= @destination.panorama %> width="100%" height="auto">

<h2 align="center"> <%= @destination.name.upcase %> </h2>
<br>
<h4 align="center"> <%= @destination.country.name.upcase %> </h4>
<br>
<div class="destinationshow">
    <b> <%= "What to do when you're in #{@destination.name}: " %> </b> <%= "#{@destination.what_to_do}" %>
    <br>
    <br>
    <br>
    <img src= <%= @destination.image %> width="30%" height="auto" padding-left="30px">
    <br>
    <br>
</div>