<!DOCTYPE html>
<html>
  <head>
    <title>TravelBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
      <div class="alert alert-light">
      <%= notice %>
      <div class="headline-div"> <h1 align="center"> <%= link_to "Oz & Oso", "/", class: "grey-link2" %> </h1>
      </div>
      <br>
      <h4><%= link_to "Countries", "/countries", class: "grey-link" %></h4>
      <h4><%= link_to "Travel Tips", "/traveltips", class: "grey-link" %></h4>
      <% if user_signed_in? %>
      <h4><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "grey-link" %></h4>
      <% else %>
      <h4><%= link_to "Sign Up", new_user_registration_path, class: "grey-link" %></h4>
      <h4><%= link_to "Login", new_user_session_path, class: "grey-link" %></h4>
      <% end %>

    </div>
  
    <%= yield %>
  </body>
</html>
